label {
  display: block;
  margin-top: 10px;
}
.card-container.card {
  max-width: 350px !important;
  padding: 40px 40px;
}
.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.logo h2 {
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  background-color:rgb(255, 254, 254);
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent;
  text-decoration: none;
}

.logo h2 span {
  font-size: 30px;
  font-weight:bold;
 
}

.navbar navbar-expand navbar-dark bg-dark
{
  display: grid;
  grid-template-columns: 10rem 1fr 2fr 1fr 10rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  background-color: rgb(218, 189, 189);
}

.navbar-nav 
{
  grid-column: 3/3;
}

.fontspecific
{
  color:#f7f7f7;
}