.registerbase{
    background-image: 
    url(
    "../pics/about_bg1.jpg");  
    /* background-repeat:repeat;   */
    background-size: cover;
    font-size:50px;
    min-height: 700px;
    min-width: 800px;
}

.setform
{
    position:relative;
    font-size: medium;
}